/* Importing fonts */
/* Custom Css Styles Will Go here */
@font-face {
    font-family: "scriptina-pro";
    src: url("fonts/Scriptina_Pro-webfont.woff") format("woff"); 
}
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f8c07b;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


header {
    background: rgba(171, 168, 168, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 1em 0;
}

nav {
    padding-right: 1em;
}
nav a {
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title h1 {
    font-family: scriptina-pro; 
    color: #fff;
    padding-left: 1em;
}
.title h2 {
    padding-left: 1em;
    color: #fff;
    margin-top: -1em;
    font-style: italic; 
}

p {
    color: black;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

.page-title {
    padding-bottom: 1.5em;
}

.banner {
    /* replace mv units with % or static units calculated pragrammatically */
    height: 100vh;
    background: url('images/ruka.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
main {
    text-align: center;
}
